body
{
    background-color:whitesmoke;
}
div{
    align-self: center;
    text-align: center;
    align-content: center;
}
h1{
    text-align:center;
    color:orange;
}
h2
{
    color:red;
}
h3
{
    color:blue;
}